* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Poppins;
  }

  .works {
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    background-color: #f6f7fb;
    gap: 88px;
  }

  .card {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
    align-items: center;
    gap: 12px;
    border: 1px solid #DFE1E6;
    border-radius: 16px;

  }

  .snapshoot, img {
    width: 100%;
  }

  .Left {
    display: grid;
    gap: 12px;  
  }

  .Project
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  } 

    .Title
  {
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    line-height: 44px;
    color: #172B4D
    
  }

  .Frame {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  .canopy {
    color: #344563;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  .Text {
    color: #7A869A;
  }

  .Primary {
    color: #344563;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
  }


  .counter {
    background-color: #C1C7D0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  .Tag >ul {
    display: flex;
    list-style: none;
    gap: 8px;
    align-items: center;
  }

  .T {
    background-color: #EBEBFF;
    font-size: 12px;
    color: #6070FF;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 8px;
  }

  .Action {
    display: flex;
    padding: 12px 169px 12px 0px;
    align-items: center;
    width: 295px;
    height: 72px;
  }

  .See-project {
    color: #396DF2;
    text-align: center;
    border: 1px solid #6070FF;
    padding: 12px;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
 
  
  /* About my self section - top */

  .about {
    border-radius: 0 60px 0 0;
    border-style: none;
    background-color: #FFFFFF; 
  } 

  .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .about-title {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-style: normal;
    color: #172B4D;
  }

  .about-me {
    display: flex;
    font-size: 16px;
    color: #344563;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    width: 100%;
    flex-wrap: wrap;
    flex: 1 1 auto;
  }

  p {
    display: flex;
    flex-wrap: wrap;
    width: 327px;
    height: 147px;
    
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .connect {
    color: #7F8CFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .icon {
    display: flex;
    gap: 16px;
  }

  
  .Github {
    width: 18px;
    height: 20px;
    flex-shrink: 0;
  }

  .Linkedin {
   width: 20px;
   height: 20px;
  flex-shrink: 0;
}

.Angelist {
  width: 20px;
  height: 20px;
 flex-shrink: 0;
}

.Twitter {
  width: 20px;
  height: 20px;
 flex-shrink: 0;
}

.Medium {
  width: 24px;
  height: 24px;
 flex-shrink: 0;
}

.resume {
  color: #396DF2;
  background-color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #396DF2;
}

/* About myself - bottom */

.bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.language >img {
  width: 48px;
  height: 48px;
}

.languages {
  display: flex;  
  gap: 12px;
  padding: 16px 26px 16px 8px;
  align-items: center;
  justify-content: space-between;
}

.javascript,
.framework,
.skills {
  width: 237px;
  height: 24px;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.fa {
  color: #5E6C84;
}

.List {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.language {
  display: flex;
  justify-content: center;
  background: #F7F7F9;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
}

.language-text {
  display: flex;
  width: 215px;
  height: 24px;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
  line-height: 20px;
  font-style: normal;
}

.lower-border {
  border-bottom: 1px solid #DFE1E6;
}

/* Mobile Styles */
  @media only screen and (min-width:375px) {
     body {
      background-color: silver;
    
    }
  }
 
  /* Desktop Styles */
  @media only screen and (min-width: 768px) {
    body {
     background-color: #5f6161;
    }
  }
